<div  style="text-align: center; ">

	<div class="col-xs-12 col-md-4 " style="background-color: #FFA500;">
		<h3>Reference</h3>
		<ul>
			<li>abc</li>
			<li>dsgh</li>
			<li>abc</li>
		</ul>
	</div>
	<div class="col-xs-12 col-md-4" style="background-color: #FF4500;">
		<h3>Link</h3>
		<ul>
			<li>hghkshxgjlfn</li>
			<li>hghkshxgjlfn</li>
			<li>hghkshxgjlfn</li>
		</ul>
	</div>
	<div class="col-xs-12 col-md-4" style="background-color: #FFA500;">
		<h3>Contact</h3>
		<ul>
			<li>sdfgjhksg</li>
			<li>sdfgjhksg</li>
			<li>sdfgjhksg</li>
		</ul>
	</div>
	<div style="background-color: #FF6347 ">
		<h3>Copyrights</h3>		
	</div>
</div>