
<div class="contact row center-block">
<div class="col-xs-12 col-md-8"  style="background-color: yellow;">	<h2>Contactus</h2>
<form ng-controller="builtinValidationCtrl as $ctrl"
    ng-submit="$ctrl.submit()">
	<div class="form-group">
		<label for="Name">Name</label>
		<input type="text" class="form-control" name="Name" id="Name" [(ngModel)]="details.Name" >
		
	</div>
	<div class="form-group">
		<label for="Email">Email </label>
		<input type="text" class="form-control" name="Email" id="Email" [(ngModel)]="details.Email" >
	</div>
	<div class="form-group">
		<label for="Phone">Phone </label>
		<input type="text" class="form-control" name="Phone" id="Phone" [(ngModel)]="details.Phone">
	</div>
	<div class="form-froup col-md-4">
		<label for="Message">Message </label>
		<textarea type="textarea" class="form-control" name="Message" id="Message" [(ngModel)]="details.Message"></textarea>
	</div><br>
	<div class="form-group">
		<button type="submit" class="btn" (click)="addData()">Submit</button>
	</div>
</form>
</div>
</div>