<div class="header">
	<div class="img-responsive" style="background-color: lightblue;">
	<img src="assets/Rao.jpeg" width="100px;">
	<!-- <p>Header</p> -->
	</div>
	<div class="navbar navbar-inverse" style="text-align: center;">
		<ul class="nav navbar-nav" style="float:right;" >
      <li ><a routerLink="/home">Home</a></li>
      <li><a routerLink="/gallery">Gallery</a></li>
      <!-- <li><a routerLink="/AboutUs">AboutUs</a></li> -->
      <li><a routerLink="/contact">ContactUs</a></li>
    </ul>
	</div>
</div>